{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>

<hr>
Merhaba ben Yusuf, Bilecik Şeyh Edebali Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. Bu projeyi
Flask öğrendiğim sırada kendimi geliştirmek amaçlı yaptım. Burada kayıt yaptıktan sonra giriş yaparak 
istediğiniz konu hakkındaki makalelerinizi herkese açık bir şekilde paylaşabilirsiniz, makalelerinizi 
güncelleyebilirsiniz, makalelerinizi silebilirsiniz ve makalelere yorum yapabilirsiniz... 13.07.2023 
<hr> 

{% endblock body %}