{% extends "layout.html" %}

{% block body %}
<h3>Makaleler</h3>
<hr>

{% if articles %}

<form action="/search", method = "post">  

  <input type="text"  class="input-sm" name = "keyword" placeholder = "Ara..."/>
  <button  type="submit" class="btn btn-danger"> Ara </button>

</form>

<hr>


<ul class="list-group">
{% for article in articles  %}

  <li class="list-group-item"> <a href ="/article/{{article.id}}"> {{article.title}} </a> &nbsp; &nbsp; -({{article.author}})</li>
  

</ul>

{% endfor %}

{% else %}
<div class = "alert alert-danger"> Bu blogta hiç henüz hiç makale bulunmuyor...</div>
{% endif %}


{% endblock body %}